:root {
  --backgroundColor: #F9D2CB;
  --darkColor: #212121;
  --buttonColor: #A3F4DC;
  
  --fontsizeSmall: 12px;
  --fontsizeMedium: 18px;
  --fontsizeBig: 26px;

  --marginSmall: 6px;
  --marginMedium: 12px;
  --marginBig: 30px;
}
