@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Roboto;
}

.h2-like{
  line-height: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: var(--marginMedium);
}

footer{
  background-color: var(--darkColor);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-tekst{
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #B7B7B7;
  padding-top: .5rem;
}

.footer-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 8.5rem;  
  margin: auto;
}

.emptystate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25rem;
}

.emptystate__content{
  color: #9C9C9C;
  padding-top: var(--marginMedium);
}

.content{
  padding: var(--marginBig);
}

.title_mini{
  text-transform: uppercase;
  font-size: 1.2rem;
}