@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Roboto;
}

.h2-like{
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: var(--marginMedium);
}